<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Random Word Generator</title>
    {% load static %}
    <link type="text/css" rel="stylesheet" href="{% static 'wordgen/main.css' %}">
</head>
<body>
    <div id="wrapper">
        <h1>Random Word (attempt #{{count}})</h1>
        <div id="word">{{word}}</div>
        <form action="/random_word/" method="POST">
            {% csrf_token %}
            <input type="submit" value="Generate">
        </form>

    </div>
</body>
</html>